<title>Surf Shack Results</title>

<h1 style="text-align: center;"><span style="color: #008000;">Surf Shack</span></h1>
<div id="gtx-trans" style="position: absolute; left: 504px; top: 25.3333px;">&nbsp;</div>
<hr />

  <form action="search">
    <input name="q" value="{{q}}">
    <input type="submit">
  </form>

<div align="left">
  <h3> RESULTS </h3>
  <ul style="list-style: none;">

    {% for filename in search_items %}
      <a href={{filename}}></a>
    {% endfor %}
  </ul>
</div>

<div align="right">
  <ul style="list-style: none; position: absolute; left: 504px;">
    <h3> ADVERTS </h3>
    {% for ad in list_items %}
      <ul><h3><a href={{ad}}></h3></ul>
    {% endfor %}
  </ul>
</div>
