<title>Surf Shack Scrape Confirmation</title>


<h1 style="text-align: center;"><span style="color: #008000;">Surf Shack Scraper Confirmation</span></h1>
<div id="gtx-trans" style="position: absolute; left: 504px; top: 25.3333px;">&nbsp;</div>
<hr />

<h1> The website that was entered has now been indexed, thankyou. </h1>
