<title>Surf Shack Scraper</title>


<h1 style="text-align: center;"><span style="color: #008000;">Surf Shack Scraper</span></h1>
<div id="gtx-trans" style="position: absolute; left: 504px; top: 25.3333px;">&nbsp;</div>
<hr />

<div id="main" style="position: absolute; left: 504px; top: 25.3333px; padding:40px;">&nbsp;
  <p><h3>Please enter the URL of the site you wish to index.</h3>
  <hr />
  <form action="scrapePage">
    <input name="q">
    <input type="submit">
  </form>
</div>
